table {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border: solid 2px #333;
  border-collapse: collapse;
}

table th, table td {
  border: dashed 1px #333;
}

th {
  width: 1%;
  white-space: nowrap;
}

.calendar {
  border-collapse:collapse;width:100%
}

.calendar caption {
  padding-bottom:6px;
  font-size:15px
}

.calendar th,.calendar td {
  font-size:15px;
  border:1px solid #bbb;
  text-align:center;
  line-height:30px
}

.calendar th{
  background:#ddedf8;
}

.calendar th:first-child {
  color:#f30;
}

.calendar th:last-child {
  color:#03c;
}

.calendar td div {
  text-align:center
}

.assign-holiday {
  background-color: teal;
}

.hoge {
  background-color: yellow;
}

.calendar td a{text-decoration:underline;display:block;width:100%;}
.calendar td a:hover{background:#fe814d;color:#fff;text-decoration:none}
.calendar td a:active{background:#f30;}
